<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Fit-Fab</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,900,800%7CRoboto:400,300,500,700,900%7COswald:400,700,300%7CMontserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link href="assets/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<link href="assets/css/settings.css" type="text/css" rel="stylesheet" media="screen">
		<link href="assets/css/layers.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.less" media="screen">

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<![endif]-->

	</head>
	<body data-ng-app="websiteApp" data-ng-controller="FormController">
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_one"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_three"></div>

				</div>
			</div>

		</div>
		<!--Page Wrapper Start-->
		<div id="wrapper" class="homepage-2 about_us">
			<!--Header Section Start-->
			<header id="header" class="header-two">
				<div class="container">

					<div class="top-header">
						<div class="row">
							<div class="col xs-12 col-sm-7 copy-right">
								<p>
									OPENING HOURS : MON - SAT <span>6AM - 9PM</span>, SUN <span>8AM - 6PM</span>
								</p>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right ">

								<ul class="media-wrap clearfix">
									<li>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-rss"></i></a>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-google-plus"></i></a>
									</li>

									<li>
										<a href="#" class="facebook"><i class="fa fa-youtube-play"></i></a>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-search"></i></a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-4 logo-wrap">
							<a href="index.html" class="logo"> <img src="assets/images/home-2_logo.png" alt="logo" /> <span>HEALTH &amp; FITNESS</span> </a>
							<div class="calling-contact">
								<span>call us now</span>
								<a href="#">215 123 4567</a>
							</div>
						</div>
						<div class="col-xs-6 col-sm-8 pull-right mobile-static">
							<nav class="navbar">

								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>

								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li>
											<a href="#">Home</a>

											<ul class="drop-down">
												<li>
													<a href="index.html">homepage</a>
												</li>
												<li>
													<a href="homepage-one.html">homepage-one</a>
												</li>
												<li>
													<a href="homepage-two.html">homepage-two</a>
												</li>
												<li>
													<a href="homepage-three.html">homepage-three</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="about-us.html">About</a>
										</li>
										<li>
											<a href="#">Classes</a>
											<ul class="drop-down">
												<li>
													<a href="classes.html">classes</a>
												</li>
												<li>
													<a href="class-detail.html">class-detail</a>
												</li>

											</ul>
										</li>
										<li>
											<a href="schedule.html">Schedule</a>
										</li>
										<li>
											<a href="#">Trainers</a>
											<ul class="drop-down">
												<li>
													<a href="trainers.html">Trainers</a>
												</li>
												<li>
													<a href="trainer-detail.html">trainers-detail</a>
												</li>

											</ul>
										</li>
										<li>
											<a href="#">Pages</a>
											<ul class="drop-down">
												<li>
													<a href="blog.html">blog</a>
												</li>
												<li>
													<a href="blog-details.html">blog-detail </a>
												</li>
												<li>
													<a href="event-details.html">event-detail </a>
												</li>
												<li>
													<a href="event-listing.html">event-listing</a>
												</li>
												<li>
													<a href="pricing-packages.html">pricing-packages</a>
												</li>
												<li>
													<a href="schedule.html">schedule</a>
												</li>

												<li>
													<a href="short-code.html">shortcode</a>
												</li>
												<li>
													<a href="404.html">404</a>
												</li>

											</ul>
										</li>
										<li>
											<a href="contact-us.html">Contact</a>
										</li>
										<li class="active">
											<a href="#">Shop</a>
											<ul class="drop-down">

												<li>
													<a href="shop-details.html">shop-detail</a>
												</li>
												<li>
													<a href="shop-listing.html">shop-listing</a>
												</li>
												<li>
													<a href="shopping-cart.html">shopping-cart</a>
												</li>
												<li>
													<a href="checkout.html">checkout</a>
												</li>

											</ul>
										</li>
										<li class="cart">
											<span aria-hidden="true" class="icon-basket-loaded"></span>
										</li>

									</ul>

								</div><!-- /.navbar-collapse -->

							</nav>
						</div>

					</div>

				</div>

			</header>
			<!--Header Section End-->

			<!--Content Area Start-->
			<div id="content">
				<!-- slider-hero start here -->
				<section class="slider-hero inner-banner_info">
					<div class="container">
						<h1>Checkout</h1>
					</div>
				</section>

				<!-- slider-hero End here -->
				<!-- breadcrum-sec start here -->
				<section class="breadcrum-sec">
					<div class="container">
						<ol class="breadcrumb">
							<li>
								<a href="#">Home</a>
							</li>
							<li class="active">
								Checkout
							</li>
						</ol>
					</div>
				</section>
				<!-- breadcrum-sec end here -->

				<!-- 	billing-details style start here -->
				<section class="billing-details">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<h3>Billing Details</h3>
								<div class="billig-info-wrap">
									<div style="display: none" id="success">
										success deliver message
									</div>
									<form method="post" name="contactForm" novalidate id="contact">
										<div class="form-group">
											<label for="country">Country *</label>
											<select name="country" id="country" class="common-control" data-ng-model="formData.country"  data-ng-class="{'error' :country }" data-ng-change = "checkOption()">
												<option value="" selected="selected">item1</option>
												<option value="item2">item2</option>
												<option value="item3">item3</option>
												<option value="item4">item4</option>
												<option value="item5">item5</option>
											</select>
										</div>
										<div class="form-group clearfix">
											<div class="ffname">
												<label for="fname">First Name *</label>
												<input type="text" class="form-control" id="fname" placeholder="" name="fname" data-ng-model="formData.fname" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : contactForm.fname.$error.pattern || contactForm.$submitted && contactForm.fname.$invalid && successStatus}">
											</div>
											<div class="llname">
												<label for="lname">last Name *</label>
												<input type="text" class="form-control" id="lname" placeholder="" name="lname" data-ng-model="formData.lname" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : contactForm.lname.$error.pattern || contactForm.$submitted && contactForm.lname.$invalid && successStatus}">
											</div>
										</div>
										<div class="form-group grp-gap" >
											<label for="company_name">Company Name </label>
											<input type="text" class="form-control" id="company_name" placeholder="" name="comName" data-ng-model="formData.comName" required data-ng-class="{'error' : contactForm.comName.$error.required && contactForm.comName.$blured || contactForm.$submitted && contactForm.comName.$invalid && successStatus}">

										</div>
										<div class="form-group grp-gap1">
											<label for="address1">Address * </label>
											<input type="text" class="form-control" id="address1" placeholder="" name="addf" data-ng-model="formData.addf" required data-ng-class="{'error' : contactForm.addf.$error.required && contactForm.addf.$blured || contactForm.$submitted && contactForm.addf.$invalid && successStatus}">
											<input type="text" class="form-control add2" id="address2" placeholder="" name="addl">

										</div>
										<div class="form-group grp-gap2">
											<label for="town">Town / City *</label>
											<input type="text" class="form-control" id="town" placeholder="" name="city" data-ng-model="formData.city" required data-ng-class="{'error' : contactForm.city.$error.required && contactForm.city.$blured || contactForm.$submitted && contactForm.city.$invalid && successStatus}">

										</div>

										<div class="form-group clearfix">
											<div class="ffname">
												<label for="state">State / County *</label>
												<select name="country1" id="state" class="half-control" data-ng-model="formData.country1"  data-ng-class="{'error' :country1 }" data-ng-change = "checkOption2()">
													<option value="" selected="selected">item1</option>
													<option value="item2">item2</option>
													<option value="item3">item3</option>
													<option value="item4">item4</option>
													<option value="item5">item5</option>
												</select>
											</div>
											<div class="llname">
												<label for="postcode">Postcode / Zip *</label>
												<input type="text" class="form-control" id="postcode" placeholder="" name="zip" data-ng-model="formData.zip" data-ng-pattern = "/^[0-9]/" required data-ng-class="{'error' : contactForm.zip.$error.pattern || contactForm.zip.$error.required && contactForm.zip.$blured || contactForm.$submitted && contactForm.zip.$invalid && successStatus}">
											</div>
										</div>

										<div class="form-group clearfix">
											<div class="ffname">
												<label for="email">Email Address *</label>
												<input type="text" class="form-control" id="email" placeholder="" name="email" required="" data-ng-model="formData.email" data-ng-pattern = "/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/"  data-ng-class="{'error' : contactForm.email.$error.pattern || contactForm.$submitted && contactForm.email.$invalid && successStatus}">
											</div>
											<div class="llname">
												<label for="phone">phone *</label>
												<input type="text" class="form-control" id="phone" placeholder="" name="phoneNo" required="" data-ng-model="formData.phoneNo" data-ng-pattern = "/^[0-9]*$/" data-ng-class="{'error' : contactForm.phoneNo.$error.pattern || contactForm.$submitted && contactForm.phoneNo.$invalid && successStatus}">
											</div>
										</div>
										<div class="checkbox">
											<label for="blankCheckbox">
												<input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
												Create an account? </label>
										</div>

										<div class="checkbox1">
											<label for="other-add"> Ship to a different address?
												<input type="checkbox" id="other-add" value="option1" aria-label="..." >
											</label>
										</div>

										<div class="form-group">
											<label for="msg">Order Notes </label>
											<textarea id="msg" rows="1" cols="1" class="text-area-bill" name="textarea" > </textarea>
										</div>

										<div class="btn-group1">
											<button type="submit" class="button-btn  submit-btn" data-ng-click = "submitcotactusForm(contactForm.$invalid)">
												proceed to payment
											</button>
										</div>
									</form>

								</div>
							</div>

							<div class="col-xs-12 col-sm-6">
								<div class="return-info">
									<h3>Returning customer? Click here to login</h3>
									<p>
										If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.
									</p>

									<form method="post" name="registrationForm" novalidate accept-charset="utf-8">

										<div class="form-group  grp-return clearfix">
											<div class="ffname">
												<label for="loginfnametop">First Name *</label>
												<input type="text" class="form-control" id="loginfnametop" placeholder="" name="ftname" data-ng-model = "RegformData.ftname" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : registrationForm.ftname.$error.pattern || registrationForm.$submitted && registrationForm.ftname.$invalid && successStatusReg}">
											</div>
											<div class="llname">
												<label for="loginlname">last Name *</label>
												<input type="text" class="form-control" id="loginlname" placeholder="" name="ltname" data-ng-model = "RegformData.ltname" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : registrationForm.ltname.$error.pattern || registrationForm.$submitted && registrationForm.ltname.$invalid && successStatusReg}">
											</div>
										</div>

										<div class="btn-group1 btn-btn-login">
											<button type="submit" class="button-btn  submit-btn" data-ng-click = "submitRegForm(registrationForm.$invalid)">
												login
											</button>
										</div>
									</form>

								</div>

								<div class="return-info  coupan">
									<h3>Have a coupon? Click here to enter your</h3>
									<form method="post" name="CouponForm" novalidate accept-charset="utf-8">

										<div class="form-group  grp-return clearfix">

											<label for="loginfname">First Name *</label>
											<input type="text" class="form-control" id="loginfname" placeholder="" name="fcname" data-ng-model = "CoupformData.fcname" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : CouponForm.fcname.$error.pattern || CouponForm.$submitted && CouponForm.fcname.$invalid && successStatusCop}">
										</div>

										<div class="btn-group1 btn-btn-login">
											<button type="submit" class="button-btn  submit-btn" data-ng-click = "submitCoupForm(CouponForm.$invalid)">
												update
											</button>
										</div>
									</form>

								</div>
							</div>

						</div>
					</div>
				</section>
				<!-- 	billing-details  style end here -->

			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<footer id="footer" class="footer-two">
				<div class="container">
					<div class="primary-footer">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3 footer-logo footer-l">
								<a href="index.html"> <img src="assets/images/home-2_logo.png" alt="footer-logo" /></a>
								<p>
									203, Envato Labs, Behind Alis Steet, Melbourne, Australia.
								</p>

								<span class="mail-id">Email : <a href="mailto:info@fitandfabtheme.com">info@fitandfabtheme.com</a></span>

							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 class-time footer-l">
								<h4>our classes</h4>
								<ul class="class-list clearfix">
									<li>
										<a href="#"> Fitness Classes </a>
									</li>
									<li>
										<a href="#"> Body Building </a>
									</li>
									<li>
										<a href="#"> Aerobics </a>
									</li>
									<li>
										<a href="#"> Streching Exercise </a>
									</li>
									<li>
										<a href="#"> Yoga Classis </a>
									</li>
									<li>
										<a href="#"> Body Combat </a>
									</li>

								</ul>

							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 class-time timing-box footer-l">
								<h4>our timings</h4>
								<ul class="class-list clearfix">
									<li>
										Monday - Friday <span class="hr"></span> 05AM - 9PM
									</li>
									<li>
										Saturday <span class="hr width-more"></span>  06AM - 5PM

									</li>
									<li>
										Sunday <span class="hr width-m"></span> Closed
									</li>

								</ul>

							</div>

							<div class="col-xs-12 col-sm-6 col-md-2 footer-l">
								<div class="boxing-inner">
									<span>$29 OFF</span>
									<strong>BOXING <span>classes</span></strong>

								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="home-2-footer">
					<div class="container">
						<div class="bottom-footer">
							<div class="row">
								<div class="col xs-12 col-sm-6 col-lg-7 copy-right">
									<p>
										Copyright 2015. All Rights Reserved by Fit &amp; Fab. Design by <a href="#" class="theme-design">Theme Designer</a>
									</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-lg-5">
									<div class="calling-contact">
										<span>call us now</span>
										<a href="#">215 123 4567</a>
									</div>

									<ul class="media-wrap clearfix">
										<li>
											<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#" class="facebook"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#" class="facebook"><i class="fa fa-rss"></i></a>
										</li>
										<li>
											<a href="#" class="facebook"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#" class="facebook"><i class="fa fa fa-linkedin"></i></a>
										</li>
										<li>
											<a href="#" class="facebook"><i class="fa fa-youtube-play"></i></a>
										</li>
									</ul>

								</div>
							</div>
						</div>

					</div>
				</div>

			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>

		<!-- revolution Js -->
		<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<!-- revolution Js-->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

	</body>
</html>